@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<h3>update-database (just run)</h3>
<h3>if you show all application access just registration admin@gmail.com email automatic create role admin then log in this email</h3>
<h3>if you show seller application access just registration seller@gmail.com automatic create role seller then log in this email</h3>
<h3>if you show buyer application access just registration any (manjurul@gmail.com) email automatic create role buyer then log in this email</h3>
<SurveyPrompt Title="How is Blazor working for you?" />
